doctype html
html
  head
    title= title
    link(rel="stylesheet", href="/stylesheets/bootstrap.min.css")
    link(rel='stylesheet', href='/stylesheets/style.css')
    
    link(rel="icon" type="image/x-icon" href="/images/favicon2.png")

  body
    nav.navbar.navbar-expand-lg.bg-body-tertiary.mb-5.px-5.w-100
      .container
        a.navbar-brand(href='/') iGaming
        button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
          span.navbar-toggler-icon
        #navbarSupportedContent.collapse.navbar-collapse
          ul.navbar-nav.ms-auto.mb-2.mb-lg-0.fs-6.menu-wrap
            li.nav-item.dropdown
              a.nav-link.dropdown-toggle(href='#' role='button' data-bs-toggle='dropdown' aria-expanded='false')
                | Lang #{lang === 'en' ? 'En' : 'Sp'}
              ul.dropdown-menu.lang
                li
                  button.dropdown-item(class={ active: lang === 'en' } data-lang='en') En
                li
                  button.dropdown-item(class={ active: lang === 'spain' } data-lang='spain') Spain
            li.nav-item
              a.nav-link.active.menu-link(aria-current='page' href='/') Home
            li.nav-item
              a.nav-link.active.menu-link(href='/categories') Categories
            if user 
              li.nav-item
                a.nav-link.active.menu-link.position-relative.cart-link(href='/cart') Cart
                  spand.number-of-items.flex-center.d-none
            li.nav-item.dropdown
              a.nav-link.dropdown-toggle(href='#' role='button' data-bs-toggle='dropdown' aria-expanded='false')
                | Account
              ul.dropdown-menu.lang.account
                li
                  a.dropdown-item(href= user ? '/login/logout' : '/login') #{user ? 'Logout' : 'Login'}
                if user
                  li
                    a.dropdown-item(href='/orders-history') History


    div.container.pb-5
      block content

  footer.pt-5.pb-3.mt-auto
    p.text-center.text-body-secondary &copy; 2025 Company, Inc

  script(src="/javascripts/bootstrap.bundle.min.js") 
  script(src="/javascripts/addToCart.js") 
  script(src="/javascripts/chageLanguage.js") 

  block scripts
