body {
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.row {
  margin: 0;
}

p {
  margin: 0;
}

ul {
  padding: 0 !important;
  margin: 0 !important;
}

img {
  object-fit: cover;
  max-height: 100%;
}

a,
.menu-link {
  color: #000;
  transition: 0.3s;
  text-decoration: none;
}

.nav-link:hover {
  opacity: 0.7;
}

.lang {
  overflow: hidden;
}

.dropdown-item:active,
.dropdown-item.active:active {
  background: #666;
}
.dropdown-item.active {
  background: #999;
}

.main-img {
  animation: rotate 120s infinite linear;

  max-width: 500px;
  max-height: 500px;
  margin: 0 auto;
  overflow: hidden;
}

@keyframes mainPhoto {
  0%,
  100% {
    transform: scale(0.95);
  }
  50% {
    transform: scale(1);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.number-of-items {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: rgb(222, 175, 86);
  color: #fff;
  font-size: 12px;
  position: absolute;
  top: -5px;
  right: -12px;
}

.category-img {
  width: 200px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .category-name {
  font-size: 16px;
} */

.galary-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.galery-img {
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px;
  cursor: pointer;
}

.cat-name {
  margin-top: auto;
}

.good-text {
  height: 50px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

footer {
  margin-top: auto;
}

/* cart */

.fixed-photo {
  position: fixed;
  top: 0;
  right: 0;
  z-index: -1;
  opacity: 0.1;
}

.cart-item-img {
  width: 100px;
  height: 100px;
}

/* styles  */

.galary-h,
.max-h-400 {
  height: 400px;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.transition {
  transition: 0.3s;
}

.itemwrap:hover img,
.scale-1:hover {
  transform: scale(1.1);
}

@media (max-width: 992px) {
  .galery-img {
    height: 100%;
    width: 20%;
    padding: 5px;
  }

  .galary-h {
    height: 150px;
  }

  .menu-wrap a {
    padding: 20px 0;
    font-size: 20px;
    display: inline-block;
    width: auto;
  }

  .account {
    width: 100px;
  }

  .account a {
    padding: 10px;
    width: 100%;
  }

  .loginForm,
  .signUpForm {
    width: 70%;
  }
}
