body {
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.row {
  margin: 0;
}

p {
  margin: 0;
}

ul {
  padding: 0 !important;
  margin: 0 !important;
}

img {
  object-fit: cover;
  max-height: 100%;
}

a,
.menu-link {
  color: #000;
  transition: 0.3s;
  text-decoration: none;
}

.nav-link:hover {
  opacity: 0.7;
}

.number-of-items {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: rgb(222, 175, 86);
  /* display: flex;
  align-items: center;
  justify-content: center; */
  color: #fff;
  font-size: 12px;
  position: absolute;
  top: -5px;
  right: -12px;
}

.category-img {
  width: 200px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.galary-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.galery-img {
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px;
  cursor: pointer;
}

.cat-name {
  margin-top: auto;
}

.good-text {
  height: 50px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

footer {
  margin-top: auto;
}

/* cart */

.cart-item-img {
  width: 100px;
  height: 100px;
}

/* styles  */

.galary-h,
.max-h-400 {
  height: 400px;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.transition {
  transition: 0.3s;
}

.itemwrap:hover img,
.scale-1:hover {
  transform: scale(1.1);
}

@media (max-width: 992px) {
  .galery-img {
    height: 100%;
    width: 20%;
    padding: 5px;
  }

  .galary-h {
    height: 150px;
  }
}
